<div class="header-bg">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" [routerLink]="['/index']">Logo</a>
    <div class="nav-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/index']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/eager-loading']">Eager Loading</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/lazy-loading']">Lazy Loading</a>
          </li>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle
              [routerLink]="['/observables']">
              Observables
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem routerLink="/observables/subject">
                Subjects
              </button>
              <!-- <button ngbDropdownItem routerLink="/reactive/form-group">
                Form Group
              </button> -->
            </div>
          </div>
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/reactive-form']"
              >Reactive Form</a
            >
          </li> -->
          <li class="nav-item">
            <div class="row">
              <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle
                    [routerLink]="['/reactive-form']">
                    Reactive Forms
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem routerLink="/reactive/form-control">
                      Form Control
                    </button>
                    <button ngbDropdownItem routerLink="/reactive/form-group">
                      Form Group
                    </button>
                    <button ngbDropdownItem [routerLink]="['/reactive/nested-form-group']">
                      Nested Form Group
                    </button>
                    <button ngbDropdownItem [routerLink]="['reactive/form-builder']">
                      Form Builder
                    </button>
                    <button ngbDropdownItem [routerLink]="['reactive/form-array']">
                      Form Array
                    </button>
                    <button ngbDropdownItem [routerLink]="['reactive/reactive-form-validation']">
                      Reactive Form
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contactus']">Template Driven Form</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<main class="container">
  <router-outlet></router-outlet>
</main>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
