<form action="" [formGroup]="profileFormGroup" (ngSubmit)="onSubmit()">
  <label for="">
    firstName:
    <input type="text" formControlName="firstName">
  </label><br>
  <label for="">
    lastName:
    <input type="text" formControlName="lastName">
  </label><br>
  <div formGroupName="address">
    <label for="">
      street:
      <input type="text" formControlName="street">
    </label><br>
    <label for="">
      city:
      <input type="text" formControlName="city">
    </label><br>
    <label for="">
      state:
      <input type="text" formControlName="state">
    </label><br>
    <label for="">
      zip:
      <input type="text" formControlName="zip">
    </label>
  </div>
  <button type="submit" (onSubmit)="!profileFormGroup.valid">submit</button>
  <p>
    <button (click)="updateFewProfileControls()">patch value</button><br>
    <button (click)="updateAllProfileControls()">update all profile controls</button>
  </p>

</form>
